.header {
  position: fixed;
  display: flex;
  top: 0px;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #eee;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  z-index: 100;
}

.logo {
  max-height: 100%;
}

.nav>* {
  padding: 10px 20px;
}

.nav>a {
  cursor: pointer;
}

.nav>span {
  color: var(--emphasis-color);
  cursor: pointer;
}

.nav>a:hover {
  color: var(--emphasis-color-two)
}

.nav>span:hover {
  color: var(--emphasis-color-two)
}