@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');


:root {
  --emphasis-color: #d04461;
  --emphasis-color-two: #fb6784;
  --light-color: #ffffff;
  --dark-color: #1b1b1b;
  --dark-color-subtle: #929292;
  --type-title: 'Urbanist', sans-serif;
  --type-text: 'Libre Franklin', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: var(--type-text);
}

a {
  text-decoration: none;
  color: var(--emphasis-color)
}

body,
h1,
h2,
h3,
h4,
ul,
p,
li {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  overflow-y: scroll;
}

h2 {
  margin-bottom: 1rem;
}

/* Background */
body {
  background-color: #f9f9f9;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#f1f1f1 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #f1f1f1 2px, #f9f9f9 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.mainContainer {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.anime {
  transform: translateX(-20px);
  opacity: 0;
  animation: .3s anime forwards;
}

@keyframes anime {
  to {
    transform: initial;
    opacity: 1;
  }
}

.loading {
  content: '';
  display: block;
  margin: 15px auto;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, .1);
  border-right: 10px solid transparent;
  animation: 1s loading infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}